<%- include("includes/head.ejs") %>
<link rel="stylesheet" type="text/css" href="/css/cat_styles.css">

  </head>
  <body>

  <%- include("includes/navigation.ejs") %>



  <!-- src="/imgs/cycles/1.jpg" -->
  <div class="grid">
    <% categoryItems.forEach(item =>{ %>

        <div class="grid-item">
            <div class="card">
              <img class="card-img" src="<%= item.img_add%>" alt="Rome" />
              <div class="card-content">
                <h1 class="card-header"><%= item.price %> ₹ </h1>
                <h3 class="carn-details"><%= item.owner %> :</h3>
                <h3 class="carn-details"><%=item.condition %> :</h3>
                <p class="card-text">
                  Discription:
                  <%= item.description %>
                </p>
                <button class="card-btn">Add To Cart <span>&rarr;</span></button>
              </div>
            </div>
          </div>

    <% }) %>
  </div>


  

  </body>
</html>