<%- include("includes/head.ejs") %>
  <link rel="stylesheet" href="/css/navigation.css">
  <link rel="stylesheet" href="/css/purchase.css">
  </head>
  <body>
      
    <%- include("includes/navigation.ejs") %>

    <h1 class="cat-heading">Select Category</h1>
    <div class="wrapper">
      <div class="cards_wrap">
        <% Categories.forEach(function(item){ %>
          <div class="card_item">
            <div class="card_inner">
              <div class="card_top">
                <a href="/category/<%= item.category %>" class="getCategoryItems">
                  <img class="buyer-imgs" src="<%= item.img_path %>" alt="<%= item.title %>" />
                </a>
              </div>
              <div class="card_bottom">
                <div class="card_category">
                  <a href="<%= item.url %>"><%= item.title %></a>
                </div>
              </div>
            </div>
          </div>
      <% }) %>
      </div>
    </div>
  </body>
</html>